* {
    font-family: verdana;
}
body {
    background-image: url(motor.png);
    display: block;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center top;
}

header {
    background-color: rgba(60,120,160, 0.9);
    color: white;
    font-size: 150%;
    padding: 10px;
}

.lewy {
    float: left;
    background-color: rgba(0,100,0,.6);
    margin: 2%;
    width: 75%;
    height: 600px;
    font-size: 120%;
    overflow: auto;
    box-shadow: 10px 10px 7px dimgray;
}
.prawy-gorny,.prawy-dolny {
    float: left;
    background-color: rgba(0,100,0,.6);
    margin: 1%;
    width: 15%;
    height: 300px;
    box-shadow: 10px 10px 7px dimgray;
}
footer {
    clear: both;
    background-color: rgba(60,120,160, 0.9);
    color: white;
    padding: 10px;
}

h1,h2 {
    text-align: center;
    font-family: italic;
}
dl {
    padding: 1%;
}
a,dt {
    color:white;
}
dd:hover {
    background-color: lightgreen;
}
