* {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    margin: 0;
}
nav {
    background-color: #00838F;
    color: #B2DFDB;
    padding: 10px;
}
main {
    display: flex;
    flex-direction: row;
}
aside,
section {
    width: 50%;
    height: 600px;
    overflow: auto;
}
aside {
    background-color: #B2DFDB;
}
.wycieczka {
    background-color: #00838F;
    opacity: 0.7;
    height: 150px;
    margin: 10px 100px 10px 100px;
    border-radius: 30px;
}
.wycieczka:hover {
    opacity: 1;
}
img {
    float: right;
    border-radius: 30px;
    margin: 7px;
}
li {
    display: inline-block;
    list-style-type: none;
}
a {
    color: #B2DFDB;
    text-decoration: none;
    padding-left: 50px;
}
a:hover {
    color: white;
    text-decoration: underline;
}
footer {
    background-color: #00838F;
    color: #B2DFDB;
    padding: 20px 0 20px 0;
}