* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #c6c6c6;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
}
 main>section {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: auto;

}
main>section {
    width: 90%;
}


#dodaj {
    margin-top: 6%;
    letter-spacing: 4px;
}

main>section>input, main>section>label, main>section>button {
    font-size: 24px;
}
main>section>h1 {
    text-align: center;
    margin: 12px;
}
main>section>input {
    background-color: azure;
    border-radius: 4px;
}
main>section>ol {
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;
    padding: 0 5%;
    color: #1e1e2e;
}
main>section>ol>li>hr {
    border-top: 3px dotted #1e1e2e;
}