* {
    font-family: Helvetica;
}
header,footer {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}
nav {
    background-color: peru;
    width: 100%;
    height: 40px;
    padding-top: 20px;

}
section {
    width: 100%;
    height: 700px;
    font-size: 120%;
    overflow: auto;
    scroll-behavior: smooth;

}
main {
    float: left;
    width: 80%;
}

aside {
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
    float: left;
}
footer {
    clear: both;
}
a {
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}
a:hover {
    color: white;
}
img {
    float: left;
    margin: 30px;
}
