* {
    font-family: Tahoma;
}

main {
    background-color: #FB8E02;
}
nav {
    background-color: #232323;
    width: 20%;
    height: 450px;
    float: left;

}
section {
    background-color: #AEC6E6;
    width: 80%;
    height: 450px;
    float: left;
    overflow: auto;
}
footer {
    margin: 2px;
    text-align: right;
    clear: both;

}
img {
    width: 100%;
}
h1 {
    padding: 50px;
    color: maroon;
}
ul {
    list-style-type: none;
}
li {
    background-color: #FB8E02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: #232323;
    font-size: 110%;

}
a:hover {
    background-color: #b36501;
}
