* {
    font-family: Cambria;
}
main {
    display: flex;
}
header,footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
.lewy,.srodek,.prawy {
    float: left;
}
.lewy,.prawy {
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
}
.srodek {
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}
footer {
    clear: both;
}
table {
    border: solid 1px dimgray;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table th, table td {
    border: solid 1px dimgray;
}
table th:hover, table td:hover {
    background-color: steelblue;
    color: white;
}
img {
    width: 100%;
    border-radius: 20px;
}